.rules-box {
    position: absolute;
    right: 20px;
    top: 200px;
    width: 220px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
    z-index: 1;
}

.rules-box h3 {
    font-size: 18px;
    margin-top: 0;
}

.rules-box p {
    font-size: 14px;
}

#encrypt-btn {
    position: relative;
    z-index: 10;
}

.word-title {
    color:.word-title {
    color: #FFFFFF;
    text-shadow: 2px 2px 6px black;
};
    font-size: 35px;
    font-weight: bold;
}
